#!/bin/bash
{{ if .packages }}
{{ $brews := list
  "starship"
  "pwgen"
  "gh"
  "gnupg"
  "eza"
  "duf"
  "tldr"
  "dog"
  "lsd"
  "xh"
  "zoxide"
  "lazygit"
 -}}

# development tools
{{ $brews = concat $brews (list
  "python3"
  "virtualenvwrapper"
  "rustup-init"
  "cmake"
  "openssl"
  "doxygen"
  "nasm"
  "direnv"
) -}}

{{ $casks := list
    "alacritty"
-}}

brew bundle --no-lock --file=/dev/stdin <<EOF

{{ range ($brews | uniq) -}}
  brew "{{ . }}"
{{ end -}}

EOF

#brew services start sketchybar
rustup-init -y --no-modify-path --no-update-default-toolchain >> /dev/null

{{ end }}
