#!/bin/bash
{{ if .packages }}
# ui related
{{ $brews := list
  "sketchybar"
-}}

# cli tools
{{ $brews = concat $brews (list
  "starship"
  "pwgen"
  "bitwarden-cli"
  "gh"
  "gnupg"
  "exa"
  "duf"
  "tldr"
  "dog"
  "lsd"
  "xh"
  "zoxide"
) -}}

# development tools
{{ $brews = concat $brews (list
  "python3"
  "virtualenvwrapper"
  "rustup-init"
  "cmake"
  "openssl"
  "doxygen"
  "nasm"
) -}}

{{ $casks := list 
  "rar"
  "gitkraken"
  "libreoffice"
  "orion"
  "vlc"
-}}


brew bundle --no-lock --file=/dev/stdin <<EOF

tap "FelixKratz/formulae" # sketchybar

{{ range ($brews | uniq) -}}
  brew "{{ . }}"
{{ end -}}

{{ range ($casks | uniq) -}}
  cask "{{ . }}"
{{ end -}}

EOF

#brew services start sketchybar
rustup-init -y --no-modify-path --no-update-default-toolchain >> /dev/null

{{ end }}