# vim: set ft=bash :

function add_to_path {
  if [[ ":$PATH:" != *":$1:"* ]]; then
    PATH="$1:$PATH"
    export PATH
  fi
}

function source_if_exists {
  if [ -f "$1" ]; then
    source "$1"
  fi
}

# Environment variable exports
## Misc variables
export EDITOR="$(which nvim)"
export GPG_TTY=$(tty)
export XDG_CONFIG_HOME="$HOME/.config"

## Homebrew
{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_CASK_OPTS="--appdir=~/Applications --fontdir=/Library/Fonts"
{{- end }}
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_EMOJI=1

## python virtualenvironments
export WORKON_HOME=$HOME/.virtualenvs
export VIRTUALENVWRAPPER_PYTHON=/usr/local/bin/python3
export VIRTUALENVWRAPPER_VIRTUALENV=/usr/local/bin/virtualenv
source_if_exists "/usr/local/bin/virtualenvwrapper.sh"

# Path Modification
{{ if eq .chezmoi.os "darwin" -}}
add_to_path "/Users/james/Library/Application Support/JetBrains/Toolbox/scripts" # for JetBrains Toolbox
add_to_path "/opt/homebrew/bin"
add_to_path "/usr/local/opt/llvm/bin"
add_to_path "/usr/local/bin"
add_to_path "$HOME/.cargo/bin"
source_if_exists "$HOME/.cargo/env"
source_if_exists "/Users/james/.bun/_bun"

if [ -f "$HOME/bun" ]; then
    export BUN_INSTALL="$HOME/.bun"
    add_to_path "$BUN_INSTALL/bin"
fi

{{- end -}}

{{ if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

