# Path Modification
{{ if eq .chezmoi.os "linx" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
export PATH="/usr/local/bin:$PATH"
export PATH="/usr/local/opt/llvm/bin:$PATH"
source "$HOME/.cargo/env"
{{ end }}

# Misc variables
export EDITOR="$(which hx)"
export GPG_TTY=$(tty)

# Homebrew
export HOMEBREW_CASK_OPTS="--appdir=~/Applications --fontdir=/Library/Fonts"
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_EMOJI=1

# Python Virtual Environments
export WORKON_HOME=~/.virtualenvs
{{ if eq .chezmoi.os "darwin" }}local venv=/usr/local/bin/python3
{{ else if eq .chezmoi.os "linux" }}local venn=/usr/bin/python3
{{ end }}export VIRTUALENVWRAPPER_PYTHON=$venv
[[ -f /usr/local/bin/virtualenvwrapper.sh ]] && source /usr/local/bin/virtualenvwrapper.sh
