{{- if .personal }}
Host *
	PreferredAuthentications publickey,password
	{{- if eq .chezmoi.os "darwin" }}
	AddKeysToAgent yes
	UseKeychain yes{{- end }}

Host github.com
	User git
	Hostname github.com
    IdentityFile ~/.ssh/github

Host tokyo
	User james
	Hostname 10.20.0.2
	PubKeyAuthentication yes
	IdentityFile ~/.ssh/tokyo.denden

Host nas
	User james
	Hostname 10.20.0.40
	PubKeyAuthentication yes
	IdentityFile ~/.ssh/nano

Host crashserver
	User james
	Hostname crash.etterna.dev
	PubKeyAuthentication yes
	IdentityFile ~/.ssh/crash.etterna.dev

Host kevin
	User james
	Hostname {{ (bitwardenFields "item" "9c931028-7d6e-4f8c-ad92-c75fab672155").ip.value }}
	IdentityFile ~/.ssh/kevin

{{ end }}