#!/usr/bin/env bash
{{ if .packages }}

# Determine if sudo is needed
{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

# Install apt packages
{{ $apts := list
  "keychain"
  "zsh"
-}}

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $apts | join " " }}

# Install homebrew packages
{{ $brews := list
    "starship"
    "pwgen"
    "bitwarden-cli"
    "gh"
    "gnupg"
    "exa"
    "duf"
    "tldr"
    "dog"
    "lsd"
    "xh"
    "zoxide"
    "zsh-autosuggestions"
-}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | uniq) -}}
  brew "{{ . }}"
{{ end -}}
EOF

{{ end }}