#!/usr/bin/env bash
{{ if eq .chezmoi.os "linux" -}}
{{ $brews := list
    "starship"
    "pwgen"
    "bitwarden-cli"
    "gh"
    "gnupg"
    "exa"
    "duf"
    "tldr"
    "dog"
    "lsd"
    "xh"
    "zoxide"
    "zsh"
    "zsh-completions"
-}}

brew bundle --no-lock --file=/dev/stdin <<EOF

{{ range ($brews | uniq) -}}
  brew "{{ . }}"
{{ end -}}

EOF

{{ end }}
